@charset "utf-8";

/*------------------------------------------------
   Default
------------------------------------------------*/

/* float */
.cf:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.cf{
display:inline-block;
}
/* Hides from IE-mac \*/
*html .cf{
height:1%;
}
.cf{
display:block;
}
/* End hide from IE-mac */

.fleft{float:left;}
.fright{float:right;}

/* text */
.lh01{line-height:1;}
.lh02{line-height:1.1;}
.lh03{line-height:1.2;}
.lh04{line-height:1.3;}
.lh05{line-height:1.4;}
.lh06{line-height:1.5;}
.lh07{line-height:1.6;}
.lh08{line-height:1.7;}
.lh09{line-height:1.8;}
.lh10{line-height:1.9;}
.lh11{line-height:2;}

.ttl01{font-size:14px;font-weight:bold;}
.ttl02{font-size:16px;font-weight:bold;}

.blt{font-weight:bold;}
.nlt{font-weight:normal;}

.mint{font-size:10px;}
.bigt{font-size:14px;}

.alignl{text-align:left;}
.alignc{text-align:center;}
.alignr{text-align:right;}

.valignt{vertical-align:top;}
.valignm{vertical-align:middle;}
.valignb{vertical-align:bottom;}

.black01{color:#000000;}
.glay01{color:#333333;}
.glay02{color:#666666;}
.glay03{color:#999999;}
.blue01{color:#003366;}
.blue02{color:#006699;}
.blue03{color:#0099cc;}
.red01{color:#cc0000;}
.red02{color:#990000;}
.red03{color:#CC3300;}
.orange01{color:#FF9900;}
.orange02{color:#FF6600;}
.green01{color:#339900;}
.green02{color:#006600;}

/* margin */
.mat01{margin-top:5px;}
.mat02{margin-top:10px;}
.mat03{margin-top:15px;}
.mat04{margin-top:20px;}
.mat05{margin-top:25px;}
.mat06{margin-top:30px;}
.mat07{margin-top:35px;}
.mat08{margin-top:40px;}
.mat09{margin-top:45px;}
.mat10{margin-top:50px;}

.mar01{margin-right:5px;}
.mar02{margin-right:10px;}
.mar03{margin-right:15px;}
.mar04{margin-right:20px;}
.mar05{margin-right:25px;}
.mar06{margin-right:30px;}
.mar07{margin-right:35px;}
.mar08{margin-right:40px;}
.mar09{margin-right:45px;}
.mar10{margin-right:50px;}

.mab01{margin-bottom:5px;}
.mab02{margin-bottom:10px;}
.mab03{margin-bottom:15px;}
.mab04{margin-bottom:20px;}
.mab05{margin-bottom:25px;}
.mab06{margin-bottom:30px;}
.mab07{margin-bottom:35px;}
.mab08{margin-bottom:40px;}
.mab09{margin-bottom:45px;}
.mab10{margin-bottom:50px;}

.mal01{margin-left:5px;}
.mal02{margin-left:10px;}
.mal03{margin-left:15px;}
.mal04{margin-left:20px;}
.mal05{margin-left:25px;}
.mal06{margin-left:30px;}
.mal07{margin-left:35px;}
.mal08{margin-left:40px;}
.mal09{margin-left:45px;}
.mal10{margin-left:50px;}


/* padding */
.pat01{padding-top:5px;}
.pat02{padding-top:10px;}
.pat03{padding-top:15px;}
.pat04{padding-top:20px;}
.pat05{padding-top:25px;}
.pat06{padding-top:30px;}
.pat07{padding-top:35px;}
.pat08{padding-top:40px;}
.pat09{padding-top:45px;}
.pat10{padding-top:50px;}

.par01{padding-right:5px;}
.par02{padding-right:10px;}
.par03{padding-right:15px;}
.par04{padding-right:20px;}
.par05{padding-right:25px;}
.par06{padding-right:30px;}
.par07{padding-right:35px;}
.par08{padding-right:40px;}
.par09{padding-right:45px;}
.par10{padding-right:50px;}

.pab01{padding-bottom:5px;}
.pab02{padding-bottom:10px;}
.pab03{padding-bottom:15px;}
.pab04{padding-bottom:20px;}
.pab05{padding-bottom:25px;}
.pab06{padding-bottom:30px;}
.pab07{padding-bottom:35px;}
.pab08{padding-bottom:40px;}
.pab09{padding-bottom:45px;}
.pab10{padding-bottom:50px;}

.pal01{padding-left:5px;}
.pal02{padding-left:10px;}
.pal03{padding-left:15px;}
.pal04{padding-left:20px;}
.pal05{padding-left:25px;}
.pal06{padding-left:30px;}
.pal07{padding-left:35px;}
.pal08{padding-left:40px;}
.pal09{padding-left:45px;}
.pal10{padding-left:50px;}

.paa01{padding:5px;}
.paa02{padding:10px;}
.paa03{padding:15px;}
.paa04{padding:20px;}
