@charset"utf-8";

/*------------------------------------------------
   Layout
------------------------------------------------*/


/*------------------------------------------------
   head
------------------------------------------------*/
#head .leftHead p:nth-child(2){
  display: none;
}

#head .inner{
  margin: 0 30px;
}

#head .gnav ul li a span{
  display: none;
}


/*------------------------------------------------
   Contents
------------------------------------------------*/
#contents .head{
  width: auto;
  margin: 0 30px 40px 30px;
}

#contents .box{
  width: auto;
  margin: 0 30px;
}

#contents .text{
  margin-bottom:40px;
}


/*------------------------------------------------
   Work Index
------------------------------------------------*/
#workIndex .thumb header div h1{
  font-size: 22px;
}

#workIndex .thumb header div p{
  font-size: 12px;
}


/*------------------------------------------------
   Work Detail
------------------------------------------------*/
#workDetail .slider .slider-arrow--right {
  right: 15px;
}

#workDetail .slider .slider-arrow--left {
  left: 15px;
}

#workDetail .data{
  margin: 0 30px 20px 30px;
}

#workDetail .data ul{
  float: none;
  width: auto;
}


/*------------------------------------------------
   About
------------------------------------------------*/


/*------------------------------------------------
   Access
------------------------------------------------*/


/*------------------------------------------------
   Contact
------------------------------------------------*/

